*{
    margin: 0%;
    padding: 0%;
}


body{
    display: flex;
    justify-content: center;
    background-color: rgb(23, 83, 17);
}

section{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background:url('images/fond.jpg') no-repeat ;
    background-position: top ;
    background-position-y: center;
    background-attachment: fixed;
    background-size: 90%;
    z-index: 1;
    flex-direction: column;
    align-items: center;
}




.cadre1{
    position: absolute;
    right:0px;
    height: 100%;
    width: 350px;
    background:url('images/fond2D.png')no-repeat ;
    background-position-x: center;
    background-size: 100% 100%;
    z-index: 6;
}

#joueur2Deck>.carte:hover{
    position: relative;
    top:-8px;
    height: 300px;
    width: 200px;
    min-height: 200px;
    min-width: 180px;
    border-radius: 20px;
    background-color: rgb(30, 179, 0);
    box-shadow: 0px 0px 10px  rgb(30, 179, 0);
}

#joueur2Deck>.carte{
    position: relative;
    top:35px;
    background:url('images/carte.png')no-repeat ;
    background-position-x: center;
    background-size: 100% 100%;
    height: 200px;
    width: 150px;
    min-height: 200px;
    min-width: 130px;
    z-index: 20;
}

#joueur1Deck>.carte{
    position: relative;
    bottom:35px;
    background:url('images/carteD.png')no-repeat ;
    background-position-x: center;
    background-size: 100% 100%;
    height: 200px;
    width: 150px;
    min-height: 200px;
    min-width: 130px;
    z-index: 20;
}





.cadre2{
    position: absolute;
    left:0px;
    height: 100%;
    width: 350px;
    background:url('images/fond2G.png')no-repeat ;
    background-position-x: center;
    background-size: 100% 100%;
    z-index: 6;
}

.joueur1{
    display: flex;
    width: 90%;
    height: 50vh;
    z-index: 5;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.joueur2{
    display: flex;
    width: 90%;
    height: 50vh;
    z-index: 5;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
}

#joueur1Deck{
    display: flex;
    justify-content: center;
}
#joueur2Deck{
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.card1{
    display: flex;
    justify-content: center;
}


.card{
    width: 55%;
    height: 50%;
}

.card1{
    width: 65%;
    height: 50%;
}




.vie{
    position: relative;
    width: 35px;
    height: 35px;
    left: 70%;
    bottom: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Brush Script MT', cursive,Georgia, serif;
    font-size: 25px;
    background:url('images/vie.png') no-repeat ;
    background-size: 100% 100%;
    text-align: center;
    z-index: 5;
}

.carte:hover > .vie{
    left: 77%;
    bottom: -10px;
}

.vieEnJeu{
    position: relative;
    width: 35px;
    height: 35px;
    left: 66%;
    bottom: 155px;
    color: rgb(255, 255, 255);
    font-family: 'Brush Script MT', cursive,Georgia, serif;
    font-size: 25px;
    background:url('images/vie.png') no-repeat ;
    background-size: 100% 100%;
    text-align: center;
    z-index: 15;
}


.atk{
    position: relative;
    width: 35px;
    height: 35px;
    left: 4%;
    bottom: 45px;
    color: rgb(88, 0, 0);
    font-family: 'Brush Script MT', cursive,Georgia, serif;
    font-size: 25px;
    background:url('images/atk.png') no-repeat ;
    background-size: 100% 100%;
    text-align: center;
    z-index: 5;
}

.carte:hover > .atk{
    left: 4%;
    bottom: 25px;
}

.atkEnJeu{
    position: relative;
    width: 35px;
    height: 35px;
    left: 11%;
    bottom: 189px;
    color: rgb(88, 0, 0);
    font-family: 'Brush Script MT', cursive,Georgia, serif;
    font-size: 25px;
    background:url('images/atk.png') no-repeat ;
    background-size: 100% 100%;
    text-align: center;
    z-index: 15;
}

.carte > div{
    position: relative;
    text-align: center;
    width: 88%;
    height: 50%;
    left:5%;
    top:6px;
    z-index: 0;
    border-radius: 5%;
    overflow: hidden;

}

.carte:hover > div{
    top:9px;
}

.illustration{
    position: relative;
    height: 250px;
    width: 250px;
    object-fit: cover;
}



.carte:hover > .image > .illustration{
    position: relative;
    height: 155px;
    width: 100%;
    object-fit: cover;
}


.carte > .image > .illustration{
    height: 105px;
    width: 100%;
    object-fit: cover;
}

.carteEnJeu{
    position: relative;
    top:35px;
    height: 130px;
    width: 130px;
}


.carteEnJeu > .image{
    position: relative;
    width: 122px;
    z-index: 0;
    top:-125px;
    height: 86%;
    border-radius: 50%;
    text-align: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
}


.carteEnJeu:hover{
    border-radius: 50%;
    background-color: rgb(30, 179, 0);
    box-shadow: 0px 0px 10px  rgb(30, 179, 0);
}

.carteEnJeu > .image > .illustration{
    position: relative;
    height: 109px;
    width: 119px;
    object-fit: cover;
    border-radius: 50%;
}




.cadre{
    position: relative;
    height: 130px;
    width: 130px;
    z-index: 10;
}

@keyframes deb3{
    from{
        height: 148px;
        width: 148px;
    }
    to{
        height: 130px;
        width: 130px;
    }
}



.nom{
    position: relative;
    top:-21%;
    text-align: center;
    height: 15%;
    font-family: 'Brush Script MT', cursive,Georgia, serif;
}

.fond_nom{
    position: relative;
    top:-3%;
    width: 100%;
}


.carte:hover >.fond_nom{
    top:-2%;
}

.carte:hover >.nom{
    top:-17%;
}



.viezone{
    position: absolute;
    top: 55%;
    left: 15%;
    width: 50px;
    height: 50px;
    z-index: 50;
}

.viezone > p {
    position: absolute;
    top: 32%;
    left: 35%;
    font-family: 'Brush Script MT', cursive,Georgia, serif;
    font-size: 30px;
}

#vieEnnemie{
    position: absolute;
    top: 39%;
    left: 15%;
    width: 50px;
    height: 50px;
    z-index: 50;
}

#vieEnnemie > p {
    position: absolute;
    top: 32%;
    left: 35%;
    font-family: 'Brush Script MT', cursive,Georgia, serif;
    font-size: 30px;
}



.joueur2{
    z-index: 10;
}


#passerTour{
    position: absolute;
    right: 55px;
    top: 47%;
    height:40px ;
    z-index: 50;
}

#passerTour > img{
    height: 40px;
    width: 150px;
}

#passerTour > p{
    position: relative;
    bottom: 42px;
    right: -12px;
    font-family: 'Brush Script MT', cursive,Georgia, serif;
    font-size: 20px;
}

#passerTour > div:hover{
    box-shadow: 0px 0px 15px  rgb(255, 255, 255);
    border-radius: 20%;
}

#passerTour > div{
    position: relative;
    box-shadow: 0px 0px 25px  rgb(0, 133, 0);
    border-radius: 20%;
    top: -69px;
    height: 35px;
}

#zoneAttaque{
    position: absolute;
    top: 0px;
    height: 22%;
    width: 48%;
    z-index: 50;
}

#popup{
    display: none;
    position: absolute;
    height: 150px;
    width: 500px;
    background:url('images/deck.png') no-repeat ;
    background-size: 100% 100%;
    z-index: 100;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Brush Script MT', cursive,Georgia, serif;
    font-size: 20px;
}

#quitter{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;

}

#quitter > img{
    height: 40px;
    width: 121px;
}

#quitter > p{
    position: relative;
    bottom: 40px;
    left: 5px;
    font-family: 'Brush Script MT', cursive,Georgia, serif;
    font-size: 20px;
}

#quitterbutton{
    position: relative;
    bottom: 72px;
    height: 38px;
    width: 121px;   
    z-index: 100;
}

#quitterbutton:hover{
    box-shadow: 0px 0px 25px  rgb(255, 0, 0);
    border-radius: 20%;
}
